[Desktop Entry]
Version=1.0
Type=Application
Name=BCI-framework
Exec=bci_framework
Icon=/home/jovyan/spyder/img_src/spyder.svg
Path=/home/jovyan/Desktop
